@charset "UTF-8";

/* untitled-font-1 */
@font-face {
    font-family: "acf-additions";
    src: url("../fonts/acf-additions.eot");
    src: url("../fonts/acf-additions.eot?#iefix") format("embedded-opentype"),
         url("../fonts/acf-additions.woff") format("woff"),
         url("../fonts/acf-additions.ttf") format("truetype"),
         url("../fonts/acf-additions.svg#acf-additions") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "acf-additions" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="acfadd-icon-"]:before,
[class*="acfadd-icon-"]:before {
    font-family: "acf-additions" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acf-input .acfadd-icon::before {
    font-family: "acf-additions" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    font-size: 17px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acfadd-icon.-calendar:before {
    content: "\61";
}
.acfadd-icon.-whatsapp:before {
    content: "\62";
}
.acfadd-icon.-youtube:before {
    content: "\63";
}
.acfadd-icon.-dollar:before {
    content: "\64";
}
.acfadd-icon.-euro:before {
    content: "\65";
}
.acfadd-icon.-facebook:before {
    content: "\66";
}
.acfadd-icon.-google:before {
    content: "\67";
}
.acfadd-icon.-linkedin:before {
    content: "\68";
}
.acfadd-icon.-mail:before {
    content: "\69";
}
.acfadd-icon.-instagram:before {
    content: "\6a";
}
.acfadd-icon.-pinterest:before {
    content: "\6b";
}
.acfadd-icon.-pushpin:before {
    content: "\6c";
}
.acfadd-icon.-vimeo:before {
    content: "\6e";
}
.acfadd-icon.-twitter:before {
    content: "\6d";
}
.acfadd-icon.-time:before {
    content: "\6f";
}
